<br><br>
<div class="row" id="about-section" style="justify-content: center;">

    <h1 class="text-primary fw-bold fs-1 mb-4 ms-2 d-block d-md-none">Abo<span class="text-dark">ut Me</span></h1>
    <br>

    <!-- Key Skills & Short Intro -->
    <div class="col-md-5">
        <div class="row">
            <div class="col-sm-6 col-md-6 d-none d-md-block">
                <div class="about-img">
                    <img src="/static/imgs/about-me.png" class="img-fluid shadow-sm rounded-2" alt="">
                </div>
            </div>

            <!-- Details next to profile image -->
            <div class="col-sm-6 col-md-6 fs-6 fw-bold text-secondary my-auto ps-4">
                <p><span class="text-dark">Name:
                    </span>
                    <span>Shailesh
                        Suthar</span>
                </p>
                <p><span class="text-dark">Job Role: </span> <span>Data Analyst</span>
                </p>
                <p><span class="text-dark">Experience: </span> <span id="experience_in_year_month"></span>
                </p>

                <p><span class="text-dark">Address: </span> <span>Gurugram, India</span></p>

            </div>
        </div>

        <!-- Key Skills -->
        <table class="table ms-1">
            <thead>
                <tr>
                    <th scope="col" class="col-5 my-auto">
                        <h2 class="fw-bold">Key Skills</h2>
                    </th>
                    <th scope="col" class="my-auto" style="justify-content: center;"></th>
                </tr>
            </thead>
            <tbody>

                {% for pair in keySkills %}
                <tr>
                    <td><span class="fs-6 fw-bold text-secondary">{{pair['skill']}}</span></td>
                    <td>
                        <div class="progress">
                            {% set progressbar = pair['progress'] %}
                            <div class="progress-bar bg-success active" role="progressbar"
                                style="width: {{ pair['progress'] }}%;" aria-valuenow="{{pair['progress']}}"
                                aria-valuemin="0" aria-valuemax="100">
                                {{pair['progress']}}%</div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Profile Summary & info -->
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 heading-section ftco-animate ps-4">
                <h1 class="text-primary fw-bold fs-1 mb-4 d-none d-md-block">Abo<span class="text-dark">ut
                        Me</span></h1>

                <!-- Profile Summary -->
                <h2 class="d-block d-md-none fw-bolder">Profile Summary</h2>
                <p id="my_introduction" class="text-secondary fw-medium fs-6 paragraph"></p>

                <!-- Profile info table -->
                <h2 class="fw-bolder mb-0">Profile Info</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-3 fs-4"></th>
                            <th scope="col" class="col-9"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for profile in ProfileInfo %}
                        <tr>
                            <td><span class="fs-6 fw-bolder text-dark">{{profile.profile}}</span></td>
                            <td><span class="fs-6 fw-bold text-secondary">{{profile.info}}</span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <br>
        <div class="d-flex">
            <div class="text mx-auto">
                <p class="mb-4">
                    <span class="text-success fs-4 fw-bolder" data-number="13">13 +</span>
                    <span class="text-dark fs-4 fw-bolder">&nbsp; Projects completed</span>
                </p>
                <p style="display: flex; justify-content: center;"><a
                        href="https://www.linkedin.com/in/shailesh-suthar-326a12202/"
                        class="btn btn-primary py-6 px-4 rounded-4 me-2 fw-bolder">LinkedIn</a></p>
            </div>
        </div>
    </div>
</div>