/* Education */
.education-container {
    margin: 30px auto;
    padding: 20px;
}

.education-timeline {
    position: relative;
    padding: 20px 0;
}

.education-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    background-color: var(--primary-color);
    transform: translateX(-50%);
}

.education-item {
    position: relative;
    width: 50%;
    padding: 20px;
    background-color: var(--third-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.education-item:hover {
    transform: scale(1.03);
    background-color: var(--third-color);
}

.education-item:nth-child(even) {
    margin-left: auto;
}

.education-item::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
    border-radius: 50%;
    transform: translateY(-50%);
    border: 4px solid #fff;
}

.education-item:nth-child(odd)::before {
    right: -15px;
}

.education-item:nth-child(even)::before {
    left: -15px;
}

.education-date {
    color: var(--raw-color);
    margin-bottom: 10px;
    display: inline-block;
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: small;
}

.education-degree {
    color: #000000;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.education-institution {
    color: #000000;
    margin-bottom: 10px;
    font-style: italic;
}

.education-grade {
    color: var(--primary-color);
    font-weight: bold;
}


@media (max-width: 768px) {
    .education-timeline::before {
        left: 20px;
    }

    .education-item {
        width: 100%;
        margin-left: 0 !important;
    }

    .education-item::before {
        left: -15px;
    }

    .education-item:nth-child(even) {
        margin-left: 0;
    }
}

