body {
    background-color: var(--background-color) !important;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
    /* background-color: #f4f6f9; */
    color: #333;
}

/* :root {
    --primary-color: #6D2323;
    --primary-color-hover: #4e1919;
    --secondary-color: #A31D1D;
    --third-color: #E5D0AC;
    --raw-color: #FEF9E1;
    --background-color: #FEF9E1;
} */
:root {
    --primary-color: #16404d;
    --primary-color-hover: #0a1e24;
    --secondary-color: #dd9e3a;
    --third-color: #eaeeed;
    --card-color-hover: #cbe6de;
    --raw-color: #FBF5DD;
    --background-color: #FBF5DD;
}
.text-color {
    color: var(--secondary-color) !important;
}

.nav-bg {
    background-color: var(--third-color);
}
.nav-item-text-color {
    color: var(--primary-color);
    font-weight: bold;
}

.btn-primary:hover {
    background-color: var(--primary-color-hover) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: 0.7s;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--raw-color) !important;
}

th, td {
    background-color: var(--raw-color) !important;
}

.subheading-title {
    text-align: center;
    color: #000000;
    font-weight: bold;
    margin-bottom: 30px;
    position: relative;
}

.subheading-title::after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 3px;
    background-color: var(--primary-color);
}

.borderline1 {
    height: 2px;
    background-color: var(--primary-color);
}

.center-block {
    display: grid;
    justify-content: center;
 }

@media (max-width: 768px) {
    .home-container-left {
        background-image: url('/static/imgs/bg_1_1_1.png');
        background-size: contain;
        /* Cover the whole div */
        background-position: top;
        background-position-x: right;
        background-repeat: no-repeat;
    }
}

.home-container-left::before {
    opacity: 0.3;
    background-image: url('/static/math-geo.jpg');

}

.progress {
    margin-left: 10px;
    margin-right: 10px;
}

.progress-bar.active {
    animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@keyframes animate-positive {
    0% {
        width: 0%;
    }
}

.paragraph {
    text-align: justify;
}

.table th,
.table td {
    border-bottom: none !important;
    border-left: none !important;
}

