<br>

<div id="manual-process">
    <br>
    <div class="container pb-0 px-0">
        <h2 class="subheading-title mb-3 py-4">Manual Process</h2>
        <p class="paragraph fs-5 text-black">
            The manual process took too long, and it took a lot of work and expertise to build the daily
            business report. The manual process of making a report has several steps, such as getting source
            files from different sources, opening each file and analysing the data as needed, and so on. In the manual
            process of reporIn the manual process of report development, the user has to go to different places where
            the
            source file came from, such as multiple share drives and Outlook mail, and then save it into a
            local folder, and open all of them, which could be a macro file, a csv file, an xlsx file, a binary
            excel file, etc.t development, the user has to go to different places where the
            source file came from, such as multiple share drives and Outlook mail, and then save it into a
            local folder, and open all of them, which could be a macro file, a csv file, an xlsx file, a binary
            excel file, etc.
        </p>
    </div>
    <br>
    <div class="center-block">
        <img src="/static/imgs/jpmc/ManualProcess.png" alt="Manual Process" class="rounded-2 img-fluid"
            style="width: 75%;">
    </div>
    <br>
    <div class="container pb-0 px-0">
        <p class="paragraph fs-5 text-black">
            If it was a macro file, click the macro button so that the data can be updated and
            form a consolidate file out of it, and open rest of file to see if the data was correct or not. Then,
            after the generation of consolidated Excel file and the consolidated final PDF file will be made
            when the final macro will be going to execute.</p>
    </div>
</div>