<div id="Tools-n-Technology">
    <h2 class="subheading-title mb-3 py-4">Tools & Technology</h2>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="skills-category">
                <div class="category-header" onclick="toggleSkills(this)">
                    <h2>Project Management Tools</h2>
                    <span class="toggle-icon">▼</span>
                </div>
                <div class="skills-list active">
                    <div class="skill-item">
                        <img src="/static/Tools/jira.png" alt="Jira Board">
                        <span>Jira Board</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/agilemethodology.png" alt="Agile Methodology">
                        <span>Agile Methodology</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/ExcelGantChart.png" alt="Gantt Chart">
                        <span>Gantt Chart</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/scrumPlanning.png" alt="Scrum Planning">
                        <span>Scrum Planning</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="skills-category">
                <div class="category-header" onclick="toggleSkills(this)">
                    <h2>Tools & Library</h2>
                    <span class="toggle-icon">▼</span>
                </div>
                <div class="skills-list active">
                    <div class="skill-item">
                        <img src="/static/Tools/pypi.png" alt="Python">
                        <span>Python</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/MSExcel.png" alt="MS Excel">
                        <span>MS Excel</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/ExcelVBA.png" alt="Excel VBA">
                        <span>Excel VBA</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/alteryx.png" alt="Alteryx">
                        <span>Alteryx</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="skills-category">
                <div class="category-header" onclick="toggleSkills(this)">
                    <h2>PyautoPDF Python Library</h2>
                    <span class="toggle-icon">▼</span>
                </div>
                <div class="skills-list active">
                    <div class="skill-item">
                        <img src="/static/Tools/openpyxl.png" alt="Openpyxl">
                        <span>Openpyxl</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/pylogo.jpg" alt="win32com">
                        <span>win32com</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/pylogo.jpg" alt="excel2img">
                        <span>excel2img</span>
                    </div>
                    <div class="skill-item">
                        <img src="/static/Tools/pandas.png" alt="Pandas">
                        <span>Pandas</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/toggleSkills.js"></script>