<div id="Benefits">
    <h2 class="subheading-title mb-3 py-4">Benefits</h2>
    <div class="text-black fs-5 paragraph">
        <p>PiP repository is the great open source platform through which anyone can use it freely. Pip is
            the default package manager for Python. It enables the installation and administration of
            packages that are not a part of the Python standard library. The creation of PyautoPDF library
            and deploy it onto the PiP repository helps all the users as well as to the organisation to
            automate the existing report in less amount of time interval with minimal effort and less time
            consumption. The development of library was the futuristic unique solution towards the
            automation field. After the automation of both UT Peru as well as Colombia the time
            consumption for development had been reduced by 99.5 % redundant or non-value-added
            activities.</p>
    </Div>
</Div>