<!doctype html>
<html lang="en">

    {% include 'Header.html' %}

    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
            </script>


        <div class="container mt-2">
            {% include 'jpmc-project/0-NAVBar.html' %}
            {% include 'jpmc-project/1-Home.html' %}
            {% include 'jpmc-project/2-Manual-process.html' %}
            {% include 'jpmc-project/3-Automation-process.html' %}
            {% include 'jpmc-project/4-Tools-n-Technology.html' %}
            {% include 'jpmc-project/5-LibraryInstallation.html' %}
            {% include 'jpmc-project/6-SampleCode.html' %}
            {% include 'jpmc-project/7-Benefits.html' %}
            {% include 'main/8-Summary.html' %}
            {% include 'Footer.html' %}
        </div>

    </body>

</html>